@charset "UTF-8";

@media screen and (max-width: 1000px) {
    .content-nav .navigation {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 10;
        position: fixed;
        width: 0px; height: 100vh;
        background-color: #cdcdcd;
        top: 0;
        left: 0;
        transition: 0.4s ease;
    }

    .content-nav .navigation .content-navigation {
        padding: 30px;
        overflow-x: auto;
    }

    .content-nav .navigation .content-navigation #close-nav {
        width: 100%;
        background-color: transparent;
        border: none;
        background-color: #000;
        color: #fff;
        font-size: 1.5em;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 30px;
        display: block;
    }

    .content-nav .navigation .content-navigation .links {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .content-nav .navigation .content-navigation .links a {
        width: 100%;
        transition: 0.3s ease;
        font-size: 1.2em;
    }

    .content-nav .navigation .content-navigation .links a:hover {
        border-bottom: 1px solid #222;
        transform: translate(0px, -5px);
    }

    .content-nav .navigation .content-navigation .contato-buttons {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        width: 100%;
    }

    .content-nav .navigation .content-navigation .contato-buttons .social-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    .content-nav #open-nav {
        display: flex;
    }

}

@media screen and (max-width: 860px) {
    .content-sobre .card-sobre {
        flex-direction: column;
    }
}

@media screen and (max-width: 670px) {
    .content-nav .contato-buttons {
        display: none;
    }

    .content-nav .navigation .content-navigation .contato-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        width: 100%;
    }
}