@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('css/dark-theme.css');

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --transition03s: 0.5s;
}

a {
    text-decoration: none;
}

button { cursor: pointer;}

img { width: 100%;}

header,main,footer {
    max-width: 1366px;
    margin: 0 auto;
}

body {
    height: 3000px;
    background-color: #E6E6E6;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 640px;
    background-image: url('Assets/img/backgorund-header.png');
    background-attachment: fixed;
    background-size: cover;
}

.content-header {
    width: 100%; min-height: 640px;
    background-color: #11111100;
}

nav {
    position: relative;
}

.content-nav {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-nav #logo {
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
}

.content-nav .navigation .content-navigation .links a {
    color: #111;
    padding: 10px;
    transition: 0.3s;
}

.content-nav .navigation .content-navigation .links a:hover {
    border-bottom: 1px solid #111;
    transform: translate(0px, 5px);
}

.content-nav .navigation .content-navigation .contato-buttons {
    display: none;
}

.content-nav .contato-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-nav .contato-buttons button {
    border: none;
    font-size: 1em;
    padding: 5px 15px;
    background-color: transparent;
    transition: 0.4s;
}

.content-nav .contato-buttons button:hover {
    color: #333;
}

.content-nav .contato-buttons button .bi-github, .bi-linkedin {
    font-size: 1.5em;
    transform: translate(0px, -5px);
}

.content-nav .contato-buttons #email {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.content-nav .contato-buttons #email:hover {
    transform: translate(0px, -5px);
    background-color: #222;
}

.content-nav #open-nav {
    width: 45px; height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: 2em;
    border-radius: 5px;
}

.content-nav #close-nav {
    display: none;
}

.content-header .resumo {
    margin-top: 70px;
    max-width: 668px;
    padding: 40px;
}

.content-header .resumo h1 {
    margin-bottom: 5px;
}

.content-header .resumo span {
    color: #4d4d4d;
    font-size: 1.5em;
}

.content-header .resumo p {
    color: #505050;
    margin-top: 10px;
}

.content-header .resumo .buttons-box {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-header .resumo .buttons-box button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    font-size: 1em; transition: 0.3s;
}

.content-header .resumo .buttons-box button:hover {
    transform: translate(0px, -2px);
    background-color: #fff;
}

.content-header .resumo .buttons-box button:active {
    transform: scale(98%);
}

.content-header .resumo .buttons-box #btn-projeto {
    background-color: #000;
    color: #fff;
}

/* estilo main */

.sobre {
    background-color: #d6d6d6;
    padding: 40px;
}

.content-sobre h1 {
    text-align: center;
    font-size: 2em;
}

.content-sobre .card-sobre {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    gap: 30px;
}

.content-sobre .card-sobre .descripiton {
    max-width: 600px;
}

.content-sobre .card-sobre .descripiton p {
    text-align: center;
    margin-bottom: 15px;
    line-height: 35px;
}

.content-sobre .card-sobre .img-people {
    max-width: 400px;
    border-radius: 50%;
    flex-shrink: 0;
}

.content-sobre .card-sobre .img-people img {
    border-radius: 50%;
}

.habilidades {
    padding: 40px;
    margin-top: 40px;
}

.habilidades .content-habilidades .card-habilidades {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.habilidades .content-habilidades .card-habilidades .habilidade {
    width: 300px;
    border: 1px solid #cdcdcd;
    padding: 20px;
    border-radius: 10px;
}

.habilidades .content-habilidades .card-habilidades .habilidade .headline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habilidades .content-habilidades .card-habilidades .habilidade .range {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.habilidades .content-habilidades .card-habilidades .habilidade .range .range-content {
    padding: 10px;
    background-color: #000;
}

.habilidades .content-habilidades .card-habilidades .habilidade .range .desativado {
    background-color: transparent;
}

.projetos {
    margin-top: 40px;
    padding: 40px;
}

.projetos h1 {
    text-align: center;
    font-size: 2em;
}

.projetos .content-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 50px;
}

.projetos .content-projetos .projeto {
    width: 400px;
    height: auto;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #cdcdcd;
    transition: 0.3s;
}

.projetos .content-projetos .projeto:hover {
    transform: scale(98%) translate(0px, -5px);
}

.projetos .content-projetos .projeto .banner {
    width: 100%;
    height: 200px;
    background-color: #000;
    border-radius: 10px 10px 0px 0px;
}

.projetos .content-projetos .projeto .banner img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.projetos .content-projetos .projeto .headline {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 0px 0px 10px 10px;
}

.projetos .content-projetos .projeto .headline h2 {
    margin-bottom: 13px;
}

.projetos .content-projetos .projeto .headline p {
    color: #4d4d4d;
}

.projetos .content-projetos .projeto .headline .tecnologias {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.projetos .content-projetos .projeto .headline .tecnologias span {
    font-size: 0.8em;
    background-color: #d6d6d6;
    border-radius: 15px;
    padding: 5px 25px;
    font-weight: 600;
}

.projetos .content-projetos .projeto .headline .buttons-action {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projetos .content-projetos .projeto .headline .buttons-action button {
    width: 190px;
    border: 1px solid #cdcdcd;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 7px;
}

.projetos .content-projetos .projeto .headline .buttons-action .demo {
    background-color: #000;
    color: #fff;
}

.contato {
    margin-top: 60px;
    padding: 40px;
}

.contato h1 {
    text-align: center;
    font-size: 2em;
}

.contato form {
    max-width: 500px;
    height: auto;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    box-shadow: 1px 1px 5px #cdcdcd;
}

.contato form label {
    margin-bottom: 10px;
    font-weight: 600;
}

.contato form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
}

.contato form textarea {
    min-height: 150px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    padding: 10px;
}

.contato form button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-weight: 500;
}

.cv-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    overflow-x: scroll;
    transition: 0.3s ease;

    & .cv-content {
        padding: 20px
    }

    & .cv-content .info {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & .cv-content .info .information {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & .cv-content .main {
        margin: 25px 0px;
    }

    & .cv-content .main h3 {
        margin: 10px;
        border-bottom: 1px solid #cdcdcd;
    }

    & .cv-content .main h4 {
        padding: 10px;
    }

    & .cv-content .main h4 > span {
        font-weight: 400;
        color: #747474;
        font-style: italic;
        font-size: 0.9em;
    }

    & .cv-content .main p {
        padding: 10px;
        font-size: 0.9em;
        text-align: justify;
        margin-top: -10px;
    }

    & .cv-content .main ul {
        padding: 20px;
    }

    & .cv-content .main ul li {
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    & .cv-content .main button {
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: #333;
        color: #fff;
        font-weight: 600;
        font-size: 1em;
        transition: 0.3s ease;
    }

    & .cv-content .main button:hover {
        transform: scale(98%);
        background-color: #111;
    }
}

footer {
    padding: 40px;
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .social {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.3em;
}

footer .social a {
    color: #000;
}